{% extends 'theme.html' %}
            {% block content %}
<!-- end of navbar navigation -->
            <div class="content">
                <div class="container" style="width: 50%;">
                    <div class="auth-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="mb-4">
                                    <img class="brand" src="assets/img/bootstraper-logo.png" alt="bootstraper logo">
                                </div>
                                <h6 class="mb-4 text-muted">Job Details</h6>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 text-start">
                                        <label for="name" class="form-label">Date</label>
                                        <input type="date" class="form-control" placeholder="Enter Name" name="s_date" required>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label for="name" class="form-label">Employee Name</label>
                                        <select class="form-control" name="s_name" required>
                                            <option value="">Select Employee</option>
                                            {% for a in employee %}
                                                <option value="{{a.first_name}} {{a.last_name}}">{{a.first_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 text-start">
                                    <label for="name" class="form-label">Select Jobs</label>
                                    <select class="form-control" name="s_job" required>
                                        <option value="">Select Job</option>
                                        {% for a in jobs %}
                                            <option value="{{a.job_title}}">{{a.job_title}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label for="name" class="form-label">Starting Time</label>
                                        <input type="time" class="form-control" style="width: 40%;" placeholder="Select Starting Time" name="s_start" required>
                                    </div>
                                    <div class="mb-3 text-start" style="width: 40%;">
                                        <label for="name" class="form-label">Ending Time</label>
                                        <input type="time" class="form-control" placeholder="Select Starting Time" name="s_end" required>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label for="name" class="form-label">Lunch Break</label>
                                        <select class="form-control" name="s_lunch" required>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label for="name" class="form-label">Hollyday Overtime</label>
                                        <select class="form-control" name="s_hollyday" required>
                                            <option value="No">No</option>
                                            <option value="Yes">Yes</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label for="password" class="form-label">Status</label>
                                        <input type="text" class="form-control" placeholder="Enter Status" name="s_status">
                                    </div>
                                    <button class="btn btn-primary shadow-2 mb-4">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
   